$primary-color: #0062FF;
$primary-dark-color: #00317F;
$primary-dark-color2: #0D2450;
$primary-dark-color3: #0061F70A;
$primary-lte-color: #0062FF0F;
$primary-lte-color2: #D9D9D93D;
$primary-lte-color3: #E5EBF44D;
$primary-lte-color4: #ECF1FF;
$primary-lte-color5: #0061F7B5;
$danger-color: #EB001B;
$pending-color: #FFC289;
$pending-color2: #FF993A;
$green: #3FBF62;
$green2: #EBF7EE;

// text 
$placeholder: #BFBDBD;

// theme light 
$text-light: #0E2045;
$text-light2: #222222;
$text-light3: #000;
// theme dark 
$bg-dark: #00183E;
$bg-light: #E5EBF4;
$bg-light2: #DEEBFF;
$bg-light3: #F5F9FF;
$bg-light4: #F6FAFF;
$bg-light5: #EDF4FF;
$bg-light6: #EAF2FF;
$bg-light7: #FFF8F8;
// text 
$text-dark: #fff;
$text-dark2: #D4E5FF;
$text-dark3: #445A8A;
// label 
$label-light: #A4A4BC;
$label-light2: #5A5A5A;
$label-light3: #97A4C0;
// border 
$border: #E5EBF4;
$border2: #D9D9D9;
$border3: #F0F0F0;
// cards 
$card1: #F9FBFF;
// table 
$table: #F8F8F8;
$table2: #F1F1F1;

// chips 
$chip-text: #2F7759;
$chip-text2: #9A0000;
$chip-bg: #ECFFEE;
$chip-bg2: #FFE9E9;

// scrim 
$scrim: #00317F40;